

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon2/font/Flaticon.eot");
  src: url("../fonts/flaticon2/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon2/font/Flaticon.woff") format("woff"),
       url("../fonts/flaticon2/font/Flaticon.ttf") format("truetype"),
       url("../fonts/flaticon2/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon2/font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

   /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-add-button:before { content: "\f100"; }
.flaticon-apps:before { content: "\f101"; }
.flaticon-at:before { content: "\f102"; }
.flaticon-bookmark:before { content: "\f103"; }
.flaticon-browser:before { content: "\f104"; }
.flaticon-browser-visualization:before { content: "\f105"; }
.flaticon-check-square:before { content: "\f106"; }
.flaticon-chrome-logo:before { content: "\f107"; }
.flaticon-close:before { content: "\f108"; }
.flaticon-compass:before { content: "\f109"; }
.flaticon-compass-1:before { content: "\f10a"; }
.flaticon-compass-2:before { content: "\f10b"; }
.flaticon-compass-3:before { content: "\f10c"; }
.flaticon-connections:before { content: "\f10d"; }
.flaticon-diagonal-enlarge:before { content: "\f10e"; }
.flaticon-download:before { content: "\f10f"; }
.flaticon-downloading-from-smartphone:before { content: "\f110"; }
.flaticon-favorites-button:before { content: "\f111"; }
.flaticon-folders:before { content: "\f112"; }
.flaticon-glasses:before { content: "\f113"; }
.flaticon-high-volume:before { content: "\f114"; }
.flaticon-history-button:before { content: "\f115"; }
.flaticon-home:before { content: "\f116"; }
.flaticon-menu-button:before { content: "\f117"; }
.flaticon-microphone:before { content: "\f118"; }
.flaticon-mouse:before { content: "\f119"; }
.flaticon-multi-tab:before { content: "\f11a"; }
.flaticon-mute:before { content: "\f11b"; }
.flaticon-new-file:before { content: "\f11c"; }
.flaticon-next-page:before { content: "\f11d"; }
.flaticon-note:before { content: "\f11e"; }
.flaticon-notification:before { content: "\f11f"; }
.flaticon-open-book:before { content: "\f120"; }
.flaticon-order:before { content: "\f121"; }
.flaticon-padlock:before { content: "\f122"; }
.flaticon-picture:before { content: "\f123"; }
.flaticon-pin:before { content: "\f124"; }
.flaticon-play-button:before { content: "\f125"; }
.flaticon-play-button-1:before { content: "\f126"; }
.flaticon-refresh-button:before { content: "\f127"; }
.flaticon-retweet:before { content: "\f128"; }
.flaticon-settings:before { content: "\f129"; }
.flaticon-shop:before { content: "\f12a"; }
.flaticon-side-menu:before { content: "\f12b"; }
.flaticon-spider-web:before { content: "\f12c"; }
.flaticon-tracker:before { content: "\f12d"; }
.flaticon-turn-right:before { content: "\f12e"; }
.flaticon-upload-arrow:before { content: "\f12f"; }
.flaticon-upload-to-cloud:before { content: "\f130"; }
.flaticon-user:before { content: "\f131"; }