@import url(../icons/app.html);


.icons {
width: 50px ;
height: 50px ;
}

.iconsociales{
width: 25px ;
height: 25px ;
}

.coso{
width: 15px !important;
height: 15px !important;	
}

.imgaleria{
width: 32px;
height: 32px;	
}

.minimini{
width: 12px;
height: 12px;	
}
.mini{
width: 15px;
height: 15px; 
margin-right: 25px;
}

.logoplay{
width: 10px;
height: 10px;	
transform: rotate(90deg);
}